.text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    order: 100;
    flex-wrap: nowrap;
    position: relative;
    width: 57%;
    margin: auto;

}

.text img {
    width: 97%;
    margin: auto;
    border-style: ridge;
    border-radius: 0px;
}



.headline {
    color: red;
    font-family: Arial;
}

.text h2 {
    font-family: sans-serif;
    font-size: x-large;
    width: 99%;
}