.adleft {
    background-color: blueviolet;
    display: flex;
    height: 600px;
    width: 160px;
    flex-wrap: nowrap;

}

.adright {
    background-color: blueviolet;
    display: flex;
    height: 600px;
    width: 160px;
    flex-wrap: nowrap;
}







.text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: ce;
    text-align: center;
    order: 100;
    flex-wrap: nowrap;
    position: relative;
    width: 57%;
    margin: auto;

}

.text img {
    width: 97%;
    margin: auto;
    border-style: ridge;
    border-radius: 0px;
}

.adbox {
    border-style: solid;
    height: 500px;
    float: right;
    flex-wrap: nowrap;
    position: relative;
    width: 20%;
}

.adbox_l {
    border-style: solid;
    height: 500px;
    float: left;
    flex-wrap: nowrap;
    position: relative;
    width: 20%;
}



.headline {
    color: red;
    font-family: Arial;
}

.text h2 {
    font-family: sans-serif;
    font-size: x-large;
    width: 99%;
}










.adbox_test {
    position: relative;
    top: 100px;
    width: 20%;
    border: solid;
    border-color: rgb(254, 254, 254);
    float: left;
    display: flex;
    justify-content: center;
}


.ad_test {
    position: fixed;
    width: 160px;
    height: 600px;
    top: 60px;
    border: solid;
    border-radius: 1px;
    border-color: rgb(100, 100, 100);
}


.adbox_test_r {
    position: relative;
    top: 100px;
    width: 20%;
    border: solid;
    border-color: rgb(254, 254, 254);
    float: right;
    display: flex;
    justify-content: center;
}


.ad_test_r {
    position: fixed;
    width: 160px;
    height: 600px;
    top: 60px;
    border: solid;
    border-radius: 1px;
    border-color: rgb(100, 100, 100);
}
}