body {
    background-color: rgb(254, 254, 254);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
 
.menu a {
    display: flex;
    background-color: rgb(0, 47, 255);
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    color: rgb(255, 255, 255);
}
 
.menu a:hover {
    background-color: rgb(140, 0, 255);
    color: rgb(255, 255, 255);
}

.menu li {
    list-style: none;
    position: relative;
    width: 20%;
    height: 100%;

}

.main {
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


