form {
    background-color: #afafaf;
    position: relative;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    all: unset;
    font: 14px system-ui;
    color: #000000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    top: 1px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
    top: 5px;
  }

  button img {
    width: 25px;
    height: 25px;
    top: 5px;
  }


  .search {
    display: flex;
    justify-content: center;
  }


body {
    background-color: rgb(254, 254, 254);
    margin: 0px;
    padding: 0px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    background-color: #afafaf;
    width: 100%;
}
 
.menu a {
    display: flex;
    background-color: rgb(0, 47, 255);
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    color: rgb(255, 255, 255);
}
 
.menu a:hover {
    background-color: rgb(140, 0, 255);
    color: rgb(255, 255, 255);
}

.menu li {
    list-style: none;
    position: relative;
    width: 15%;
    height: 20%;

}

.main {
    display: flex;
    margin: 20px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


