

.hamburger {
  display: flex;
  position: fixed;
  margin: 10px;
  width: 44px;
  height: 44px;
}

.hamburger img {
  float: left;
  width: 44px;
  height: 44px;
}

.home {
  display: flex;
  position: fixed;
  margin-top: 7px;
  width: 44px;
  height: 44px;
  margin-left: 75px;
}

.home img {
  float: left;
  width: 38px;
  height: 38px;
}



.hamburger button {

  &:hover {
      transform: scale(1.1)
  }

  &:hover + .hamburger {
      transform: scale(1.1)
  }

  &:hover + .hamburger button img {
      transform: scale(1.1)
  }
}



/*
.search button:hover, form span {
    form {
      margin: 0px;
      
    }
}
*/


form {

    margin: 10px;
    background-color: #afafaf;
    position: fixed;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    all: unset;
    font: 14px system-ui;
    color: #ffffff;
    padding: 6px 10px;
    top: 1px;
    width: 158.4px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
    top: 5px;
  }

  button img {
    width: 25px;
    height: 25px;
    top: 5px;
  }


  .search {
    display: flex;
    justify-content: flex-end;
  }


body {
    background-color: rgb(254, 254, 254);
    margin: 0px;
    padding: 0px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    background-color: #afafaf;
    width: 100%;
}
 
.menu a {
    display: flex;
    background-color: rgb(0, 47, 255);
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    color: rgb(255, 255, 255);
}
 
.menu a:hover {
    background-color: rgb(140, 0, 255);
    color: rgb(255, 255, 255);
}

.menu li {
    list-style: none;
    position: relative;
    width: 15%;
    height: 20%;

}

.main {
    display: flex;
    margin: 20px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


